.navbar-side {
  background-color: #fcfcfc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 0.625rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  // background-color: #ffffff;
  // width: 220px;
  // height: 100%;
  // display: flex;
  // justify-content: center;
  // // position: fixed;
  // top: 3.7rem;
  // left: -100%;
  // transition: 850ms;
  border-right: 3px solid #f1f1f3;
  // z-index: 1;
  ul {
    padding-left: 0;
    margin-top: 2rem;
  }
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #35333b;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #f1f1f3;
}
.nav-text:hover {
  background-color: lightgray;
}

.nav-menu-items {
  width: 100%;
}

// .navbar-toggle {
//   background-color: #ffffff;
//   width: 100%;
//   height: 80px;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
// }

span {
  margin-left: 16px;
}
// .user-welcome {
//   margin: 0.625rem 0 0 3rem;
// }