.ag-grid-tasklist {
  height: 93%;
  width: 100%;
//   padding: 1rem;
}
.tasklist {
    padding: 1rem;
    height: 95%;
    width: 100%;
}
.ag-header-cell-label {
  justify-content: center;
}
.ag-cell {
    display: flex !important;
    justify-content: center !important;
}
.edit-ticket-btn {
    margin-bottom: 0.625rem;
    display: flex;
    justify-content: space-between;
}