// Styling for creating the ticket
.mb-3 select {
  border: 1px solid #ced4da;
  height: 38px;
  border-radius: 0.25rem;
}
.dropdown-ct {
  display: flex;
  flex-direction: column;
}
.modal-body {
  height: 75vh;
  overflow-y: scroll;
}
